<launch>
  <param name="robot_description" command="$(find xacro)/xacro $(find asv_description)/urdf/min_asv.urdf.xacro"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find asv_description)/rviz/view_model.rviz"/>
</launch>

