<launch>
  <!-- Launch the USV Gazebo bringup without GUI -->
  <include file="$(find usv_gazebo)/launch/usv_bringup.launch">
    <arg name="gui" value="false"/>
  </include>

  <!-- Launch RViz for visualization -->
  <include file="$(find usv_gazebo)/launch/rviz.launch" />

  <!-- Launch the navigation stack for the USV -->
  <include file="$(find usv_gazebo)/launch/usv_navstack.launch" />

  <!-- Launch the control mechanisms for the USV -->
  <include file="$(find usv_control)/launch/control.launch" />

</launch>

