<launch>
    <!-- SLAM: Gmapping, Cartographer, Hector, Karto, Frontier_exploration, RTAB-Map -->
  <arg name="set_odom_frame" default="odom"/>
  <arg name="set_map_frame"  default="map"/>
  <arg name="set_base_frame" default="wamv/base_link"/>
  <arg name="scan_topic" default="wamv/sensors/lidars/lidar/scan"/>
  

  <!-- Gmapping -->

  <node pkg="gmapping" type="slam_gmapping" name="wamv_slam_gmapping" output="screen">
    <param name="base_frame" value="$(arg set_base_frame)"/>
    <param name="odom_frame" value="$(arg set_odom_frame)"/>
    <param name="map_frame"  value="$(arg set_map_frame)"/>
    <param name="scan_topic" value="$(arg scan_topic)"/>
    <rosparam command="load" file="$(find usv_gazebo)/config/gmapping_params.yaml" />
    
    <remap from="scan" to="$(arg scan_topic)"/>
  </node>



</launch>


