<?xml version="1.0"?>
<launch>
  <!-- Notes -->
  <!-- For GMAPPING: comment out "MAP", "AMCL", "MOVE_BASE", and "Global_planner" -->

  <arg name="cmd_vel_topic" default="/cmd_vel" />
  <node pkg="tf" type="static_transform_publisher" name="static_tf_pub" args="0.7 0 1.8 0 0 0 1 base_link lidar_wamv_link 100"/>
 

  <!-- Map Server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(find usv_description)/world/blank_map_resized.yaml" >
  <param name="frame_id" value="map"/>
  </node>

  <!-- 1 EKF -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />

  <!-- 3 EKFs -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odomL" args="0 0 0 0 0 0 map odom_left" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odomR" args="0 0 0 0 0 0 map odom_right" />

  <!-- AMCL 
  <include file="$(find usv_gazebo)/launch/amcl.launch"/>-->


  # Check Thruster
  <!--node pkg="usv_navigation" type="move_base_cmd.py" name="cmd_vel_to_thrusters"/-->
	
  #Run this with roslaunch usv_control control.launch
  <node pkg="global_planner" type="planner" name="global_planner" output="screen">
    <param name="planner/old_navfn_behavior" value="false" />
    <param name="planner/use_quadratic" value="true" />
    <param name="planner/use_dijkstra" value="true" />
    <param name="planner/use_grid_path" value="false" />
    <param name="planner/allow_unknown" value="true" />
    <param name="planner/planner_window_x" value="10.0" />
    <param name="planner/planner_window_y" value="10.0" />
    <param name="planner/default_tolerance" value="0" />
    <param name="planner/publish_scale" value="100" />
    <param name="costmap/footprint" value="[[-1.5, -0.8], [1.5, -0.8], [1.5, 0.8], [-1.5,0.8]]" />
    <param name="costmap/height" value="100" />
    <param name="costmap/width" value="100" />
    <param name="costmap/robot_radius" value="7.0" />
    <param name="costmap/static_map" value="true" />
    <param name="costmap/inflation_layer/inflation_radius" value="3.5" />
    <param name="costmap/inflation_layer/cost_scaling_factor" value="1" />
    <remap from="global_planner/planner/plan" to="waypoints" />
  </node>
  
  <arg name="odom_topic" default="/odom" />  
  <arg name="move_forward_only" default="false"/>

  <!-- Move Base + roslaunch vrx_gazebo usv_keydrive.launch -->
  <!--node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find usv_gazebo)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find usv_gazebo)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find usv_gazebo)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find usv_gazebo)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find usv_gazebo)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find usv_gazebo)/config/dwa_local_planner_params.yaml" command="load" />
    <rosparam file="$(find usv_gazebo)/config/global_planner_params.yaml" command="load" />

    <param name="global_costmap/robot_base_frame" value="base_link"/>
    <param name="global_costmap/global_frame" value="map"/>
    <param name="local_costmap/robot_base_frame" value="base_link"/>
    <param name="local_costmap/global_frame" value="odom"/>

    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="global_planner/planner/plan" to="waypoints" />
    <param name="DWAPlannerROS/min_vel_x" value="0.1" if="$(arg move_forward_only)" />
  </node-->
  
  <!-- Path to Waypoints -->
  <arg name="ptw_config_file" value="$(find usv_navigation)/config/path_to_waypoints.yaml" />
  <node pkg="usv_navigation" type="path_to_waypoints.py" name="path_to_waypoints" output="screen">
    <rosparam command="load" file="$(arg ptw_config_file)" />
  </node>

  <node pkg="usv_navigation" type="waypoint_reached_publisher.py" name="waypoint_reached_publisher" output="screen">
    <param name="waypoint_topic" value="/waypoints" />
    <param name="waypoint_reached_topic" value="/waypoint_reached" />
    <param name="position_topic" value="/ground_truth" />
    <param name="use_sim_time" value="true"/>
  </node>

  <!-- Suppress tf warnings -->
  <rosparam param="silent_tf_failure">true</rosparam>
  <param name="use_sim_time" value="true"/>

  <!-- GPS Combiner Node -->
  <node pkg="usv_navigation" type="combined_gps.py" name="gps_combiner" output="screen" />

  <!-- Single EKF node fusing IMU and combined GPS into combined odometry/tf -->
  <!-- <node ns="robot_localization" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="false" output="screen">
      <param name="sensor_timeout" value="2.0" />
      <param name="two_d_mode" value="true" />
      <param name="map_frame" value="map" />
      <param name="odom_frame" value="odom" /> 
      <param name="base_link_frame" value="base_link" /> 
      <param name="world_frame" value="odom" />
      <param name="publish_tf" value="true" />
      <param name="frequency" value="60" />
      <param name="imu0" value="/sensors/imu/imu/data" /> 
      <rosparam param="imu0_config">[false, false, false,
                                     true,  true,  true,
                                     false,  false,  false,
                                     true,  true,  true,
                                     true,  true,  true]</rosparam>
      <param name="imu0_differential" value="false" />
      <param name="imu0_remove_gravitational_acceleration" value="true" />
      <param name="odom0" value="/robot_localization/odometry/gps" />  
      <rosparam param="odom0_config">[true,  true,  true,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false]</rosparam>
      <param name="odom0_differential" value="false" />
      <param name="smooth_lagged_data" value="true" />
      <param name="transform_time_offset" value="0.1" /> 
      <param name="transform_timeout" value="10.0" />
  </node> -->
  <!-- navsat_transform_node for Combined GPS -->
  <!-- <node ns="robot_localization" pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
    <param name="frequency" value="60" />
    <param name="magnetic_declination_radians" value="0" />
    <param name="broadcast_utm_transform" value="true" />
    <param name="wait_for_datum" value="true" />
    <param name="use_odometry_yaw" value="true" />
    <param name="world_frame" value="map"/>
    <rosparam param="datum">[21.30996, -157.8901]</rosparam>
    <param name="yaw_offset" value="0" />
    <param name="publish_filtered_gps" value="true" />
    <remap from="/robot_localization/gps/fix" to="/combined_gps/fix"/> 
  </node>  -->




  <!-- First EKF node fusing IMU and GPS1 into combined odometry/tf -->
  <node ns="robot_localization" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_left" clear_params="false" output="screen">
      <param name="sensor_timeout" value="2.0" />
      <param name="two_d_mode" value="true" />
      <param name="map_frame" value="map" /> 
      <param name="odom_frame" value="odom_left" />
      <param name="base_link_frame" value="base_link_left" />
      <param name="world_frame" value="odom_left" />
      <param name="publish_tf" value="true" />
      <param name="frequency" value="30" />
      <param name="imu0" value="/sensors/imu/imu/data" />
      <rosparam param="imu0_config">[false, false, false,
                                     true,  true,  true,
                                     false,  false,  false,
                                     true,  true,  true,
                                     true,  true,  true]</rosparam>
      <param name="imu0_differential" value="false" />
      <param name="imu0_remove_gravitational_acceleration" value="true" />
      <param name="odom0" value="/robot_localization/odometry/gps_left" />  
      <rosparam param="odom0_config">[true,  true,  true,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false]</rosparam>
      <param name="odom0_differential" value="false" />
      <param name="smooth_lagged_data" value="true" />
      <param name="transform_time_offset" value="0.1" /> 
      <param name="transform_timeout" value="10.0" />
      <remap from="odometry/filtered" to="odometry/filtered_left"/>
  </node>

  <!-- First navsat_transform_node for GPS1 -->
  <node ns="robot_localization" pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node_left" respawn="true" output="screen">
    <param name="frequency" value="30" />
    <param name="magnetic_declination_radians" value="0" />
    <param name="broadcast_utm_transform" value="true" />
    <param name="wait_for_datum" value="true" />
    <param name="use_odometry_yaw" value="true" />
    <rosparam param="datum">[21.30996, -157.8901]</rosparam>
    <param name="yaw_offset" value="0" />
    <param name="publish_filtered_gps" value="true" />
    <param name="odom_frame_id" value="odom_left"/>
    <remap from="/robot_localization/gps/fix" to="/gps_left/gps/fix"/> 
    <remap from="odometry/filtered" to="odometry/filtered_left"/>
    <remap from="odometry/gps" to="odometry/gps_left"/>
  </node> 

  <!-- Second EKF node fusing IMU and GPS2 into combined odometry/tf -->
  <node ns="robot_localization" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_right" clear_params="false" output="screen">
      <param name="sensor_timeout" value="2.0" />
      <param name="two_d_mode" value="true" />
      <param name="map_frame" value="map_right" /> 
      <param name="odom_frame" value="odom_right" />
      <param name="base_link_frame" value="base_link_right" />
      <param name="world_frame" value="odom_right" />
      <param name="publish_tf" value="true" />
      <param name="frequency" value="30" />
      <param name="imu0" value="/sensors/imu/imu/data" />
      <rosparam param="imu0_config">[false, false, false,
                                     true,  true,  true,
                                     false,  false,  false,
                                     true,  true,  true,
                                     true,  true,  true]</rosparam>
      <param name="imu0_differential" value="false" />
      <param name="imu0_remove_gravitational_acceleration" value="true" />
      <param name="odom0" value="/robot_localization/odometry/gps_right" />  
      <rosparam param="odom0_config">[true,  true,  true,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false,
                                      false, false, false]</rosparam>
      <param name="odom0_differential" value="false" />
      <param name="smooth_lagged_data" value="true" />
      <param name="transform_time_offset" value="0.1" /> 
      <param name="transform_timeout" value="10.0" />
      <remap from="odometry/filtered" to="odometry/filtered_right"/>
  </node>

  <!-- Second navsat_transform_node for GPS2 -->
  <node ns="robot_localization" pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node_right" respawn="true" output="screen">
    <param name="frequency" value="30" />
    <param name="magnetic_declination_radians" value="0" />
    <param name="broadcast_utm_transform" value="true" />
    <param name="wait_for_datum" value="true" />
    <param name="use_odometry_yaw" value="true" />
    <rosparam param="datum">[21.30996, -157.8901]</rosparam>
    <param name="yaw_offset" value="0" />
    <param name="publish_filtered_gps" value="true" />
    <param name="odom_frame_id" value="odom_left"/>
    <remap from="/robot_localization/gps/fix" to="/gps_right/gps/fix"/> 
    <remap from="odometry/filtered" to="odometry/filtered_right"/>
    <remap from="odometry/gps" to="odometry/gps_right"/>
    <!-- <remap from="/odometry/utm" to="/odometry/utm_left"/> -->
  </node> 

  <!-- Third EKF node fusing outputs from the two EKF nodes -->
  <node ns="robot_localization" pkg="robot_localization" type="ekf_localization_node" name="ekf_odom_fusion" clear_params="false" output="screen">
    <param name="sensor_timeout" value="2.0"/>
    <param name="two_d_mode" value="false"/>
    <param name="map_frame" value="map"/>
    <param name="odom_frame" value="odom"/> 
    <param name="base_link_frame" value="base_link"/>
    <param name="world_frame" value="odom"/>
    <param name="publish_tf" value="true"/>
    <param name="frequency" value="30"/>
    <param name="imu0" value="/sensors/imu/imu/data" />
    <rosparam param="imu0_config">[false, false, false,
                                   true,  true,  true,
                                   false,  false,  false,
                                   true,  true,  true,
                                   true,  true,  true]</rosparam>
    <param name="imu0_differential" value="false" />
    <param name="imu0_remove_gravitational_acceleration" value="true" />
    <param name="odom0" value="/robot_localization/odometry/filtered_left"/>
    <rosparam param="odom0_config">[true,  true,  true,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false,
                                   true,  true,  true]</rosparam>
    <param name="odom0_differential" value="false"/>
    
    <param name="odom1" value="/robot_localization/odometry/filtered_right"/>
    <rosparam param="odom1_config">[true,  true,  true,
                                   false, false, false,
                                   false, false, false,
                                   false, false, false,
                                   true,  true,  true]</rosparam>
    <param name="odom1_differential" value="false"/>
  </node>

  <!-- Thrid navsat_transform_node for GPS Combine -->
  <node ns="robot_localization" pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true" output="screen">
    <param name="frequency" value="30" />
    <param name="magnetic_declination_radians" value="0" />
    <param name="broadcast_utm_transform" value="true" />
    <param name="wait_for_datum" value="true" />
    <param name="use_odometry_yaw" value="true" />
    <rosparam param="datum">[21.30996, -157.8901]</rosparam>
    <param name="yaw_offset" value="0" />
    <param name="publish_filtered_gps" value="true" />
    <param name="odom_frame_id" value="odom"/>
    <remap from="/robot_localization/gps/fix" to="/combined_gps/fix"/> 
  </node>

<!--   <node pkg="tf" type="static_transform_publisher" name="imu_to_base_link" args="0 0 0 0 0 0 1 base_link imu_wamv_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="gps_left_to_base_link" args="0 0 0 0 0 0 1 base_link gps_left_wamv_link 100"/>
  <node pkg="tf" type="static_transform_publisher" name="gps_right_to_base_link" args="0 0 0 0 0 0 1 base_link gps_right_wamv_link 100"/>
 -->  <!-- Static Transform from Odom to Base Link -->
  <!-- <node pkg="tf" type="static_transform_publisher" name="odom_to_base_link" args="0 0 0 0 0 0 odom base_link 100" /> -->



</launch>

